@use 'sass:math';

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap);

$backgfround-site:#20232A;
$backgfround-window:#8b9696;
$hover-input:#b6b6b6;
$border-window:rgb(70, 70, 70);

*,*::after,*::before{
	margin: 0;
	padding: 0;
	border:0;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	// font-family: 'Work Sans', sans-serif;
	font-family: 'Montserrat',sans-serif;
}
body,html{
	position: relative;
	height: 100%;
	width: 100%;
	// line-height: 1;
	background-color: $backgfround-site;
	overflow-y: scroll;
	overflow-x: hidden;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
//------------------------------------------------------------------
.wrapper{
	// height: 100%;
	width: 100%;
	display: flex;
	// padding: 30px;
	// @media (max-width:500px) {
	// 	padding:15px;
	// }
	width: 100%;
	// max-width: 660px;
}
.author-window {
	&.author{
		top: 50%;
		left: 50%;
		overflow: hidden;

		transform: translate(-50%,-50%);
	}
	position: absolute;
	// top: 50%;
	left: 50%;
	transform: translate(-50%,0);
	height: max-content;
	margin: 0 auto;
	border-radius:25px;
	background-color: $backgfround-window;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 60px;
	border: 1px solid $border-window;
	box-shadow: 0 6px 6px 3px $border-window;
	transition: all 0.8s ease 0s;
	width: 100%;
	max-width: 600px;
	&.disabled{
		position: absolute;

		transform: scale(0.5) translate(-220vw,-70vh);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	>:not(:last-child){
		margin-bottom: 20px;
	}
	@media (max-width:520px) {
		padding: 30px;
	}
	input{
		width: 100%;
		height: 60px;
		// border-radius: 10px;
		padding-left: 15px;
		font-size: 22px;
		font-weight: 500;
		border-bottom:1px solid #333;
		background: none;
		transition: all 0.3s ease 0s;
		&::placeholder{
			color: $backgfround-site;
		}
		&:hover{
			transition: all 0.3s ease 0s;
			&::placeholder{
				color: $backgfround-site;
			}
			background: #fff;
		}
		&:focus{
		 outline: none;
		}
		@media (max-width:500px) {
			font-size: 18px;
		}
		@media (max-width:400px) {
			font-size: 15px;
		}
	}
		// .author-window__title
		&__title {
			font-size: 32px;
			font-weight: 400;
			margin-right: 20px;
			// 
		}
		&__header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width:520px) {
				flex-direction: column;
				>:not(:last-child){
					margin-bottom: 10px;
				}
			}
		}
		&__register{
			border: 1px solid $backgfround-site;
			padding: 11px 22px;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			&:hover{
				background: $backgfround-site;
				color: #fff;
			}
		}
		// .author-window__email
		&__email {
			&.drible{
    animation: 0.8s ease-in-out 0s normal none running trambling-animation;

			@keyframes trambling-animation {
					0%, 20%, 100% {
							transform: translateX(0px);
					}
					10%, 30% {
							transform: translateX(-4px);
					}
					20%, 40% {
							transform: translateX(4px);
					}
					}
			}
			&._validate{
				border: 1px solid green;
			}
			&._error{
				border: 1px solid red;
			}
		}
		.window-password__block{
			.window-password__block-item{
				position: relative;
				.window-password__eyes{
					&.drible > svg{
						animation: 0.8s ease-in-out 0s normal none running trambling-animation;

							@keyframes trambling-animation {
									0%, 20%, 100% {
											transform: translateX(0px);
									}
									10%, 30% {
											transform: translateX(-4px);
									}
									20%, 40% {
											transform: translateX(4px);
									}
									}
				}
					width: 20px;
					height: 25px;
					position: absolute;
					top: 50%;
					right: 5%;
					transform: translate(0,-50%);
					svg.open{
						opacity: 1;
						visibility: visible;
						pointer-events: all;
					}
					svg.close{
						opacity: 0;
						visibility: hidden;
						pointer-events:none;
					}
					&._close{
						svg.open{
							opacity: 0;
							visibility: hidden;
							pointer-events: none;
						}
						svg.close{
							opacity: 1;
							visibility: visible;
							pointer-events: all;
						}
					}
						svg{
							position: absolute;
							width: 25px;
							height: auto;
							transition: all 0.3s ease 0s;
							cursor: pointer;
							right: 5%;

						}

				}
			}
		}
		// .author-window__password
		&__password {
			position: relative;
			&.drible{
    animation: 0.8s ease-in-out 0s normal none running trambling-animation;

			@keyframes trambling-animation {
					0%, 20%, 100% {
							transform: translateX(0px);
					}
					10%, 30% {
							transform: translateX(-4px);
					}
					20%, 40% {
							transform: translateX(4px);
					}
					}
}
			&._validate{
				border: 1px solid green;
			}
			&._error{
				border: 1px solid red;
			}
		}
		// .author-window__btn
		&__btn {
			cursor: pointer;
			font-family: 'Work Sans', sans-serif;
			width: 100%;
			// max-width: max-content;
			margin: 0 auto;
			padding: 15px 54px;
			font-size: 22px;
			font-weight: 500;
			// border-radius: 10px;
			border: 1px solid #333;
			background-color: transparent;
			transition: background 0.3s ease 0s;
			@media (max-width:400px) {
				padding: 10px 38px;
			}
			&:hover{
				background: $backgfround-site;
				color: #fff;
			}
	}
		
}
.password-block {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width:565px) {
		flex-direction: column;
		>:not(:last-child){
			margin-bottom: 10px;
		}
	}
}
.remember {
	display: flex;
	align-items: center;
		// .remember__text
		&__text {
			margin-left: 10px;
			font-size: 18px;
		}
}
.remember-item {
	width: 50px;
	height: 30px;
	background: $backgfround-site;
	border-radius:30px;
	cursor: pointer;
	position: relative;
	svg{
		position: absolute;
		width: 25px;
		height: auto;
		top: 50%;
		transform: translateY(-50%);
		z-index: 6;
		&.no{
			left: 4%;
		}
		&.yes{
			right: 6%;
		}
	}

		// .remember-item__check
		&__check {
			position: absolute;
			top: 50%;
			transform: translate(0,-50%);
			left: 9%;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #fff;
			transition: all 0.2s ease 0s;
			z-index: 4;
			&._yes{
				left:50%;
			}
		}
}
.forgot {
		// .forgot__password
		&__password {
			font-size: 18px;
			color: $backgfround-site;
			position: relative;
			transition: all 0.3s ease 0s;
			&::after{
				content: '';
				position: absolute;
				bottom: -5px;
				left: 0;
				right: 0;
				width: 100%;
				height: 2px;
				background: #333;
			}
			&:hover{
				color: #fff;
			}
		}
}

//---------------------- register
.register-window {
	&._register{
		height: inherit;
		position: absolute;
		min-height: max-content;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		@media (max-height:800px) {
		left: 50%;
		top: 0%;
		transform: translate(-50%,-0%);
		}

	}
	// height: 100%;
	&.disabled{
		transform: scale(0.3) translate(150vw,-130vh);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;

	}
		// .register-window__header
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width:520px) {
				flex-direction: column;
				>:not(:last-child){
					margin-bottom: 10px;
				}
			}
		}
		// .register-window__title
		&__title {
			border: 1px solid $backgfround-site;
			padding: 11px 22px;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			font-size: 18px;
			font-weight: 500;
			&:hover{
				background: $backgfround-site;
				color: #fff;
			}
		}
		// .register-window__register
		&__register {
			font-size: 32px;
			font-weight: 400;
			margin-left: 20px;
		}
		// .register-window__login
		&__login {
			&._error{
				border: 1px solid red;
			}
		}
		// .register-window__email
		&__email {
			&.drible{
    animation: 0.8s ease-in-out 0s normal none running trambling-animation;

			@keyframes trambling-animation {
					0%, 20%, 100% {
							transform: translateX(0px);
					}
					10%, 30% {
							transform: translateX(-4px);
					}
					20%, 40% {
							transform: translateX(4px);
					}
					}
			}
			&._validate{
				border: 1px solid green;
			}
			&._error{
				border: 1px solid red;
			}
		}
		// .register-window__password
		&__password {
			position: relative;
			&.drible{
    animation: 0.8s ease-in-out 0s normal none running trambling-animation;

			@keyframes trambling-animation {
					0%, 20%, 100% {
							transform: translateX(0px);
					}
					10%, 30% {
							transform: translateX(-4px);
					}
					20%, 40% {
							transform: translateX(4px);
					}
					}
}
			&._validate{
				border: 1px solid green;
			}
			&._error{
				border: 1px solid red;
			}
		}
		.register-window__password.confirm{
			&.drible{
    animation: 0.8s ease-in-out 0s normal none running trambling-animation;

			@keyframes trambling-animation {
					0%, 20%, 100% {
							transform: translateX(0px);
					}
					10%, 30% {
							transform: translateX(-4px);
					}
					20%, 40% {
							transform: translateX(4px);
					}
					}
}
			&._validate{
				border: 1px solid green;
			}
			&._error{
				border: 1px solid red;
			}
		}
		// .register-window__name
		&__name {
			text-transform: capitalize;
			&._error{
				border: 1px solid red;
			}
		}
		// .register-window__phone
		&__phone {
			&._error{
				border: 1px solid red;
			}
		}
}
.register-window {
		// .register-window__btn
		&__btn {
			cursor: pointer;
			font-family: 'Work Sans', sans-serif;
			width: 100%;
			// max-width: max-content;
			margin: 0 auto;
			padding: 15px 54px;
			font-size: 22px;
			font-weight: 500;
			// border-radius: 10px;
			border: 1px solid #333;
			background-color:transparent;
			transition: background 0.3s ease 0s;
			@media (max-width:400px) {
				padding: 10px 38px;
			}
			&:hover{
				background: $backgfround-site;
				color: #fff;
			}
		}
}
.drible:not(.window-password__eyes){
    animation: 0.8s ease-in-out 0s normal none running trambling-animation;

			@keyframes trambling-animation {
					0%, 20%, 100% {
							transform: translateX(0px);
					}
					10%, 30% {
							transform: translateX(-4px);
					}
					20%, 40% {
							transform: translateX(4px);
					}
					}
			}
.first {
	&._error{
				border: 1px solid red;
			}
}
.second {
	&._error{
				border: 1px solid red;
			}
}
.remember-item {
		// .remember-item__check
		&__check {
			&._yes{
				left:50%;
			}
		}
}
//-------------------- paralx
.paralax {
	width: 100%;
	max-width: 100vw;
	// left: 20%;
	height: 100vh;
	position: absolute;
	background-image: url(../img/star1.svg);
	background-position: 50%;
	background-repeat: no-repeat;
		// background-size: 1%;
}