@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap);
*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #20232A;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

._validate {
  border: 1px solid green;
}

._error {
  border: 1px solid red;
}

.wrapper {
  height: 100%;
  width: 100vw;
  padding: 0 30px;
}

._container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.author-window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 25px;
  background-color: #8b9696;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 60px;
  border: 1px solid rgb(70, 70, 70);
  box-shadow: 0 6px 6px 3px rgb(70, 70, 70);
  transition: all 0.8s ease 0s;
  width: 100%;
  max-width: 600px;
}
.author-window.disabled {
  transform: scale(0.5) translate(-190vw, -70vh);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.author-window > :not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 520px) {
  .author-window {
    padding: 30px;
  }
}
.author-window input {
  width: 100%;
  height: 60px;
  padding-left: 15px;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px solid #333;
  background: none;
  transition: all 0.3s ease 0s;
}
.author-window input::-moz-placeholder {
  color: #20232A;
}
.author-window input:-ms-input-placeholder {
  color: #20232A;
}
.author-window input::placeholder {
  color: #20232A;
}
.author-window input:hover {
  transition: all 0.3s ease 0s;
  background: #fff;
}
.author-window input:hover::-moz-placeholder {
  color: #20232A;
}
.author-window input:hover:-ms-input-placeholder {
  color: #20232A;
}
.author-window input:hover::placeholder {
  color: #20232A;
}
.author-window input:focus {
  outline: none;
}
@media (max-width: 500px) {
  .author-window input {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .author-window input {
    font-size: 15px;
  }
}
.author-window__title {
  font-size: 32px;
  font-weight: 400;
}
.author-window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 520px) {
  .author-window__header {
    flex-direction: column;
  }
  .author-window__header > :not(:last-child) {
    margin-bottom: 10px;
  }
}
.author-window__register {
  position: relative;
  padding: 11px 40px 11px 22px;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.author-window__register svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 20px;
  fill: #20232A;
}
.author-window__register:hover {
  background: #20232A;
  color: #fff;
}
.author-window__register:hover svg {
  fill: #fff;
}
.author-window__email._validate {
  border: 1px solid green;
}
.author-window__email._error {
  border: 1px solid red;
}
.author-window .window-password__block .window-password__block-item {
  position: relative;
}
.author-window .window-password__block .window-password__block-item .window-password__eyes {
  width: 20px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}
.author-window .window-password__block .window-password__block-item .window-password__eyes.drible > svg {
  -webkit-animation: 0.8s ease-in-out 0s normal none running trambling-animation;
          animation: 0.8s ease-in-out 0s normal none running trambling-animation;
}
@-webkit-keyframes trambling-animation {
  0%, 20%, 100% {
    transform: translateX(0px);
  }
  10%, 30% {
    transform: translateX(-4px);
  }
  20%, 40% {
    transform: translateX(4px);
  }
}
@keyframes trambling-animation {
  0%, 20%, 100% {
    transform: translateX(0px);
  }
  10%, 30% {
    transform: translateX(-4px);
  }
  20%, 40% {
    transform: translateX(4px);
  }
}
.author-window .window-password__block .window-password__block-item .window-password__eyes svg.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.author-window .window-password__block .window-password__block-item .window-password__eyes svg.close {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.author-window .window-password__block .window-password__block-item .window-password__eyes._close svg.open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.author-window .window-password__block .window-password__block-item .window-password__eyes._close svg.close {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.author-window .window-password__block .window-password__block-item .window-password__eyes svg {
  position: absolute;
  width: 25px;
  height: auto;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  right: 5%;
}
.author-window__password {
  position: relative;
}
.author-window__password._validate {
  border: 1px solid green;
}
.author-window__password._error {
  border: 1px solid red;
}
.author-window__btn {
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 15px 54px;
  font-size: 22px;
  font-weight: 500;
  border: 1px solid #333;
  background-color: transparent;
  transition: background 0.3s ease 0s;
}
@media (max-width: 400px) {
  .author-window__btn {
    padding: 10px 38px;
  }
}
.author-window__btn:hover {
  background: #20232A;
  color: #fff;
}

.password-block {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 565px) {
  .password-block {
    flex-direction: column;
  }
  .password-block > :not(:last-child) {
    margin-bottom: 10px;
  }
}

.remember {
  display: flex;
  align-items: center;
}
.remember__text {
  margin-left: 10px;
  font-size: 18px;
}

.remember-item {
  width: 50px;
  height: 30px;
  background: #20232A;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}
.remember-item svg {
  position: absolute;
  width: 25px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;
}
.remember-item svg.no {
  left: 4%;
}
.remember-item svg.yes {
  right: 6%;
}
.remember-item__check {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 9%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease 0s;
  z-index: 4;
}
.remember-item__check._yes {
  left: 50%;
}

.forgot__password {
  font-size: 18px;
  color: #20232A;
  position: relative;
  transition: all 0.3s ease 0s;
}
.forgot__password::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #333;
}
.forgot__password:hover {
  color: #fff;
}

.register-window.disabled {
  transform: scale(0.5) translate(90vw, -70vh);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.register-window__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 520px) {
  .register-window__header {
    flex-direction: column-reverse;
  }
  .register-window__header > :not(:last-child) {
    margin-top: 10px;
  }
  .register-window__header .register-window__register {
    margin-left: 0;
  }
}
.register-window__title {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding: 11px 22px 11px 40px;
}
.register-window__title svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 20px;
  fill: #20232A;
}
.register-window__title:hover {
  background: #20232A;
  color: #fff;
}
.register-window__title:hover svg {
  fill: #fff;
}
.register-window__register {
  font-size: 32px;
  font-weight: 400;
}
.register-window__email._validate {
  border: 1px solid green;
}
.register-window__email._error {
  border: 1px solid red;
}
.register-window__password {
  position: relative;
}
.register-window__password._validate {
  border: 1px solid green;
}
.register-window__password._error {
  border: 1px solid red;
}

.register-window__btn {
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 15px 54px;
  font-size: 22px;
  font-weight: 500;
  border: 1px solid #333;
  background-color: transparent;
  transition: background 0.3s ease 0s;
}
@media (max-width: 400px) {
  .register-window__btn {
    padding: 10px 38px;
  }
}
.register-window__btn:hover {
  background: #20232A;
  color: #fff;
}

.drible:not(.window-password__eyes) {
  -webkit-animation: 0.8s ease-in-out 0s normal none running trambling-animation;
          animation: 0.8s ease-in-out 0s normal none running trambling-animation;
}
@keyframes trambling-animation {
  0%, 20%, 100% {
    transform: translateX(0px);
  }
  10%, 30% {
    transform: translateX(-4px);
  }
  20%, 40% {
    transform: translateX(4px);
  }
}

.password-block__agreement {
  display: flex;
  align-items: center;
}
.password-block__agreement._error {
  border: none;
}
.password-block__agreement._validate {
  border: none;
}
.password-block__agreement a {
  color: #fff;
}
@media (max-width: 520px) {
  .password-block__agreement {
    flex-direction: column-reverse;
  }
  .password-block__agreement > :not(:last-child) {
    margin-top: 10px;
  }
  .password-block__agreement .remember__text {
    font-size: 18px;
    margin-left: 0;
  }
}

.agreement__check {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease 0s;
  background-color: #20232A;
  width: 25px;
  height: 25px;
}
.agreement__check svg {
  transition: all 0.3s ease 0s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 15px;
  visibility: hidden;
  pointer-events: none;
}
.agreement__check._agreed {
  border-radius: 50%;
}
.agreement__check._agreed svg {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  fill: #fff;
}

.paralax {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url(../img/parallax.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 80%;
}/*# sourceMappingURL=style.css.map */